@{
    ViewData["Title"] = "Home";
}
<!--***************************************************************************************
 *   Title: font-weight - CSS: Cascading Style Sheets | MDN
 *    Author: MDN Web Docs
 *    Date: [N/B]
 *    Code version: Version 1
 *    Availability: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
 *
     ***************************************************************************************/ -->
<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .africlaim-title {
        font-size: 3.5em; 
        margin-bottom: 10px;
        text-align: center;
    }

    .africlaim-image {
        width: 400px; 
        height: auto; 
        border-radius: 10px; 
    }
</style>

<div class="center-content">
    <h1 class="africlaim-title">AFRICLAIM</h1>
    <img class="africlaim-image" src="~/images/africlaim (1).png" alt="Africlaim Logo" />
</div>
